<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WIS.Properties.Settings.WISConnectionString" connectionString="Data Source=localhost;Initial Catalog=WIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WIS.Properties.Settings.WISConnectionString1" connectionString="Data Source=DESKTOP-QR3BNEV;Initial Catalog=WIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>